<% provide(:title, 'Ahlan wa Sahlan') %>

<h1 class="hidden">Eat Halal</h1>
<div class="row">
	<h2>Quality Butchers</h2>
	<p>
		<span class="glyphicon glyphicon-unchecked"></span>
		Specialising in Beef
		<span class="glyphicon glyphicon-unchecked"></span>
		Veal
		<span class="glyphicon glyphicon-unchecked"></span>
		Lamb
		<span class="glyphicon glyphicon-unchecked"></span>
		Mutton
		<span class="glyphicon glyphicon-unchecked"></span>
		Chicken
		<span class="glyphicon glyphicon-unchecked"></span>
	</p>
	<p>
		<span class="glyphicon glyphicon-unchecked"></span>
		Producers of Premium Burgers
		<span class="glyphicon glyphicon-unchecked"></span>
		Sausages
		<span class="glyphicon glyphicon-unchecked"></span>
		Marinated Meats
		<span class="glyphicon glyphicon-unchecked"></span>
	</p>
</div>

<div class="row">
	<div class="col-sm-6">
		<h3>Contact Us</h3>
		<p>
			<span class="glyphicon glyphicon-road"></span>
			172 Ethel Road, Leicester, UK, LE5 4WE
		</p>
		<p>
			<span class="glyphicon glyphicon-phone-alt"></span>
			(0116) 319 - 0400
		</p>
		<p>
			<span class="glyphicon glyphicon-envelope"></span>
			eathalalltd@gmail.com
		</p>
	</div>
	<div class="col-sm-6">
		<h3>Opening Hours</h3>
		<p>
			<span class="glyphicon glyphicon-time"></span>
			Monday - Saturday: 8am - 8pm
		</p>
		<p>
			<span class="glyphicon glyphicon-time"></span>
			Closed on Friday between 11am and 3pm for Jumah.
		</p>
	</div>
</div>

<%= image_tag "hmc-logo.png", class: "hmc-logo" %>